<mat-card>

    <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>

            <i>
                Subjects
            </i>

        </mat-card-title>
    </mat-card-header>

    <mat-card-content class="mat-elevation-z8">

        <div class="row" #appenHere></div>

    </mat-card-content>

    <mat-card-actions>
        <button mat-raised-button (click)="addSubject()" color="primary">Add subject</button>
    </mat-card-actions>


</mat-card>