<div class="display-timer">
    <div [ngClass]="colorBg">

        <div class="container">
            <p class="title-view">{{data.title}}</p>

            <p class="who-view">{{data.who}}</p>

            <div class="lasttime-size">{{minuteRest}}:{{secondRest}}</div>

            <div class="space-view">
                <p (keydown.backspace)="pauseTimer()">Hit SPACE to PAUSE</p>
                <button (keydown.backspace)="pauseTimer()" mat-raised-button (click)='pauseTimer()'>PAUSE</button>
                <button mat-raised-button (click)='closeDial()'>CLOSE</button>
            </div>
        </div>

    </div>
</div>