<mat-card [ngClass]="colorBg">
    <mat-card-header>
        <mat-card-title class="title-view">{{data.title}}</mat-card-title>
        <!-- <mat-card-subtitle class="who-view">{{data.who}}</mat-card-subtitle> -->
    </mat-card-header>

    <mat-card-content [ngClass]="colorBg">

        <!-- <mat-form-field> -->
            <p class="who-view">{{data.who}}</p>
            <p class="lasttime-size">00:{{timeLeft}}</p>


    </mat-card-content>

    <mat-card-actions>
        <p class="space-view" (keydown.backspace)="pauseTimer()">Hit SPACE to PAUSE</p>
        <button mat-raised-button (click)='closeDial()'>CLOSE</button>
        <!-- <input [(ngModel)]="input" (keydown.backspace)="pauseTimer()"> -->
    </mat-card-actions>
</mat-card>