.alert {
    //  /* This fills the remaining space, by using flexbox.
    //     Every toolbar row uses a flexbox row layout. */
    background-color: red;
    font-size: 150%;
    color: white;
    text-align: center;
    
}

.warn {
    //  /* This fills the remaining space, by using flexbox.
    //     Every toolbar row uses a flexbox row layout. */
    background-color: orangered;
    font-size: 150%;
    color: white;
    text-align: center;
    
}