
<mat-card>

        <mat-card-content>
            <!-- *ngIf="timer.seconde >=10"-->
            <h1 >
                <span>{{timer.minutes}}</span> :
                <span>{{timer.secondes}}</span>
            </h1>


        </mat-card-content>

        <!-- ACTION BUTTON -->
        <mat-card-actions>
            <button color="primary" mat-raised-button *ngIf="state.backward" (click)="backward()">erase</button>
            <button color="primary" mat-raised-button *ngIf="state.stop" (click)="stop()">stop</button>
            <button color="warn" mat-raised-button *ngIf="state.play" (click)="play()">{{btnPlay}}</button>
        </mat-card-actions>
    </mat-card>
