
<table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
        <ng-container matColumnDef="title">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Title</th>
            <td td mat-cell *matCellDef="let row" [ngClass]="row.color">
                <mat-form-field>
                    <input matInput type="text" name="title" placeholder="title" [(ngModel)]="row.title">
                </mat-form-field>
            </td>
        </ng-container>
        <ng-container matColumnDef="who">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Who</th>
            <td td mat-cell *matCellDef="let row">
                <mat-form-field>
                    <input matInput type="text" name="who" placeholder="speaker" [(ngModel)]="row.who">
                </mat-form-field>
            </td>
        </ng-container>
        <ng-container matColumnDef="time">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Time</th>
            <td td mat-cell *matCellDef="let row">
                <mat-form-field>
                    <input matInput type="text" name="timeLeft" placeholder="time" [(ngModel)]="row.time" (change)="displayTotalTime()">
                </mat-form-field>
            </td>
        </ng-container>
        <ng-container matColumnDef="create">
            <th mat-header-cell *matHeaderCellDef>
                <button mat-icon-button>
                    <mat-icon (click)="addSubject()">add</mat-icon>
                </button>
            </th>
            <td mat-cell *matCellDef="let row">
                <button mat-raised-button (click)="startTimer(row)">Start</button>
            </td>
        </ng-container>
        <ng-container matColumnDef="delete">
            <th mat-header-cell *matHeaderCellDef>
                Total : {{totalTime}} min | Rest : {{overTime}} min
            </th>
            <td mat-cell *matCellDef="let row; let i=index;">
                <button mat-icon-button color="warn" (click)="deleteItem(i)" matTooltip="Delete this subject line">
                    <mat-icon aria-label="Delete">delete_forever</mat-icon>
                  </button>
                  {{displayMinutesRest(row.timing)}}
                  <!-- <button mat-icon-button color="primary" matTooltip="Subject done" *ngIf="istOk">
                    <mat-icon aria-label="Done">done_outline</mat-icon>
                  </button> -->
            </td>
        </ng-container>
        
        <tr mat-header-row *matHeaderRowDef="displayColumns; sticky: true">
        </tr>
        <tr mat-row *matRowDef="let data; columns: displayColumns"></tr>
</table>

